.floatingButton {
	background: blue; 
	width: 40px; 
	height: 40px;
	margin: 50px;
	position: absolute;
	float: left;
	clear: both;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 5px blue inset;
	-webkit-border-radius: 20%;
	-webkit-box-shadow: 0px 0px 20px 5px blue inset;
}
#button1 { 
	animation: 
		floatButton1 32s normal infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton1 32s normal infinite linear,	
		spin 10s infinite linear;
	z-index: 1;
}
#button2 { 
	animation: 
		floatButton2 30s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton2 30s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 2;
}
#button3 { 
	animation: 
		floatButton3 34s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton3 34s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 3;
}
#button4 { 
	animation: 
		floatButton4 24s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton4 24s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 4;
}
#button5 { 
	animation: 
		floatButton5 26s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton5 26s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 5;
}
#button6 { 
	animation: 
		floatButton6 28s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton6 28s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 6;
}
#button7 { 
	animation: 
		floatButton7 30s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton7 30s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 7;
}
#button8 { 
	animation: 
		floatButton8 32s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton8 32s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 8;
}
#button9 { 
	animation: 
		floatButton9 34s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton9 34s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 9;
}
#button10 { 
	animation: 
		floatButton10 36s alternate infinite linear,	
		spin 10s infinite linear;
	-webkit-animation:
		floatButton10 36s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 10;
}
#button11 { 
	animation: 
		floatButton11 22s alternate infinite linear,
		spin 10s infinite linear;
	-webkit-animation: 
		floatButton11 22s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 11;
}
#button12 { 
	animation: 
		floatButton12 24s alternate infinite linear,
		spin 10s infinite linear;
	-webkit-animation:
		floatButton12 24s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 12;
}
#button13 { 
	animation: 
		floatButton13 24s alternate infinite linear,
		spin 10s infinite linear;
	-webkit-animation:
		floatButton13 24s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 13;
}
#button14 { 
	animation:
		floatButton14 24s alternate infinite linear,
		spin 10s infinite linear;
	-webkit-animation:
		floatButton14 24s alternate infinite linear,
		spin 10s infinite linear;
	z-index: 14;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes floatButton1 {
	0%   {background-color: red; left: 0px; top: 0px;}
    50%  {background-color: white; left: 100px; top: 600px;}
	100% {background-color: red; left: 0px; top: 0px;}
}
@-webkit-keyframes floatButton1 {
 	0%   {background-color: red; left: 0px; top: 0px;}
    50%  {background-color: white; left: 100px; top: 600px;}
	100% {background-color: red; left: 0px; top: 0px;}
}
@keyframes floatButton2 {
	0%   {background-color: yellow; left: 150px; bottom: 0px;}
    50% {background-color: white; left: 250px; bottom: 600px;}
	100% {background-color: yellow; left: 150px; bottom: 0px;}
}
@-webkit-keyframes floatButton2 {
	0%   {background-color: yellow; left: 0px; bottom: 0px;}
    50% {background-color: white; left: 250px; bottom: 600px;}
	100% {background-color: yellow; left: 0px; bottom: 0px;}
}
@keyframes floatButton3 {
	0%   {background-color: white; left: 300px; top: 300px;}
    50% {background-color: purple; left: 200px; top: 600px;}
    100% {background-color: white; left: 400px; top: 0px;}
}
@-webkit-keyframes floatButton3 {
    0%   {background-color: white; left: 300px; top: 300px;}
    50% {background-color: purple; left: 200px; top: 600px;}
    100% {background-color: white; left: 400px; top: 0px;}
}
@keyframes floatButton4 {
	0%   {background-color: yellow; left: 400px; top: 600px;}
    100% {background-color: purple; left: 440px; top: 0px;}
}
@-webkit-keyframes floatButton4 {
    0%   {background-color: yellow; left: 400px; top: 600px;}
    100% {background-color: purple; left: 440px; top: 0px;}
}
@keyframes floatButton5 {
	0%   {background-color: purple; left: 500px; top: 300px;}
    100% {background-color: white; left: 400px; top: 0px;}
}
@-webkit-keyframes floatButton5 {
    0%   {background-color: purple; left: 400px; top: 300px;}
    100% {background-color: white; left: 500px; top: 0px;}
}
@keyframes floatButton6 {
	0%   {background-color: red; left: 600px; top: 0px;}
    100% {background-color: yellow; left: 300px; top: 420px;}
}
@-webkit-keyframes floatButton6 {
    0%   {background-color: red; right: 600px; top: 0px;}
    100% {background-color: yellow; right: 300px; top: 420px;}
}
@keyframes floatButton7 {
	0%   {background-color: yellow; right: 200px; top: 340px;}
    100% {background-color: white; right: 600px; top: 0px;}
}
@-webkit-keyframes floatButton7 {
    0%   {background-color: yellow; right: 200px; top: 340px;}
    100% {background-color: white; right: 600px; top: 0px;}
}
@keyframes floatButton8 {
	0%   {background-color: red; right: 400px; top: 300px;}
    100% {background-color: white; right: 500px; top: 0px;}
}
@-webkit-keyframes floatButton8 {
    0%   {background-color: red; right: 400px; top: 300px;}
    100% {background-color: white; right: 100px; top: 0px;}
}
@keyframes floatButton9 {
	0%   {background-color: yellow; right: 200px; top: 200px;}
    100% {background-color: white; right: 260px; top: 0px;}
}
@-webkit-keyframes floatButton9 {
    0%   {background-color: yellow; right: 200px; top: 200px;}
    100% {background-color: white; right: 260px; top: 0px;}
}
@keyframes floatButton10 {
	0%   {background-color: white; right: 100px; top: 0px;}
    100% {background-color: purple; right: 300px; top: 400px;}
}
@-webkit-keyframes floatButton10 {
    0%   {background-color: white; right: 100px; top: 0px;}
    100% {background-color: purple; right: 300px; top: 400px;}
}
@keyframes floatButton11 {
	0%   {background-color: yellow; right: 0px; top: 600px;}
    100% {background-color: purple; right: 400px; top: 0px;}
}
@-webkit-keyframes floatButton11 {
    0%   {background-color: yellow; right: 0px; top: 600px;}
    100% {background-color: purple; right: 400px; top: 0px;}
}
@keyframes floatButton12 {
	0%   {background-color: yellow; left: 500px; top: 500px;}
    100% {background-color: purple; left: 0px; top: 0px;}
}
@-webkit-keyframes floatButton12 {
    0%   {background-color: yellow; left: 500px; top: 500px;}
    100% {background-color: purple; left: 0px; top: 0px;}
}
@keyframes floatButton13 {
	0%   {background-color: yellow; right: 540px; top: 200px;}
    100% {background-color: purple; right: 500px; top: 600px;}
}
@-webkit-keyframes floatButton13 {
    0%   {background-color: yellow; right: 540px; top: 200px;}
    100% {background-color: purple; right: 500px; top: 600px;}
}
@keyframes floatButton14 {
	0%   {background-color: white; right: 600px; bottom: 0px;}
    50% {background-color: yellow; right: 400px; bottom: 600px;}
	100% {background-color: yellow; right: 200px; bottom: 0px;}
}
@-webkit-keyframes floatButton14 {
    0%   {background-color: white; right: 600px; bottom: 0px;}
    50% {background-color: yellow; right: 400px; bottom: 600px;}
	100% {background-color: yellow; right: 200px; bottom: 0px;}
}
